<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST"> {% csrf_token %}
    <label>
        ID<br>
        <input name="userID" value="{{ pojazd.userID }}">
    </label>
    <br>
    <label>
        Nazwa<br>
        <input name="nazwa" value="{{ pojazd.nazwa }}">
    </label>
    <br>
    <label>
        Baterie:<br> {{ baterieON}}/{{baterieAll}}<br>
        Dodaj baterie:<br>
        <input name="baterie" value="Bez zmian">
    </label>
 <br>

    {% if pojazd.baterie.all %}
		Włącz/Wyłącz baterie :<br>
    {% for i in pojazd.baterie.all %}
					 	{{ i.numer}}|{{ i.batID}}|

									{% if i.on %}
									<font color="green">	Włączona</font>
									{% else %}
									<font color="red"> Wyłączona | </font>
									{% endif %}

								{% endfor %}<br>
	{% else %}
	Brak baterii <br>
	{% endif %}
</p>


    <select>
    <option value="" disabled="disabled" selected="selected">Please select a name</option>
    <option value="1">One</option>
    <option value="2">Two</option>
    </select>




     <label>
        Usuń baterie:<br>

         {%for x in pojazd.baterie.all %}
    <input type="checkbox" name="batDel" value="{{x.id}}"> {{ x.batID }}
         {%endfor %}

     </label>
<!--<br>-->
       <!--<label>-->
        <!--Baterie usuń:-->
        <!--<select name="baterie_del">-->
            <!--{%for x in pojazd.baterie.all %}-->
            <!--<option value="{{x.id}}">{{ x.batID }}</option>-->
            <!--{%endfor %}-->
        <!--</select>-->
    <!--</label>-->
   <!--<br>-->
    <br>
    <input type="submit" value="Zapisz"/>

    <p>
        <a href="/pojazdy">BACK <<<</a>
    </p>
</form>
</body>
</html>