<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST"> {% csrf_token %}
    <label>
        ID<br>
        <input name="userID" value="{{ pojazd.userID }}">
    </label>
    <br>
    <label>
        Nazwa<br>
        <input name="nazwa" value="{{ pojazd.nazwa }}">
    </label>
    <br>
    <label>
        Baterie:<br> {{ baterieON}}/{{baterieAll}}<br>
        Dodaj baterie:<br>
        <input name="baterie" value="Bez zmian">
    </label>
 <br>
    {% if pojazd.baterie.all %}
            Włącz/Wyłącz baterie :<br>
        {% for i in pojazd.baterie.all %}
            {{ i.numer}}|{{ i.batID}}|
                    {% if i.on %}
                        <select name="doOFF">
                        <option value="ON">ON</option>
                        <option value="OFF">OFF</option>
                        </select>
                    {% else %}
                        <select name="doON">
                        <option value="OFF">OFF</option>
                        <option value="ON">ON</option>
                        </select>
                    {% endif %}
        {% endfor %}<br>
    {% else %}
        Brak baterii <br>
    {% endif %}

    <label>
        Usuń baterie:<br>
        {%for x in pojazd.baterie.all %}
    <input type="checkbox" name="batDel" value="{{x.id}}"> {{ x.batID }}
         {%endfor %}
     </label><br>

    <input type="submit" value="Zapisz"/>

    <p>
        <a href="/pojazdy">BACK <<<</a>
    </p>

</form>
</body>
</html>