<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form action="" method="POST">
    <label>
        ID<br>
        <input name="user_id" value="{{ pojazd.userID }}">
    </label>
    <br>
    <label>
        Nazwa<br>
        <input name="nazwa" value="{{ pojazd.nazwa }}">
    </label>
    <br>
    <label>
        Baterie:<br> {{ baterieON}}/{{baterieAll}}<br>
        Dodaj baterie:<br>
        <input name="baterie_all" value="">
    </label>
 <br>


     <label>
        Usuń baterie:<br>

         {%for x in pojazd.baterie.all %}
    <input type="checkbox">
            <label value="{{x.id}}">{{ x.batID }}</label>
    </input>
          {%endfor %}

     </label>
<!--<br>-->
       <!--<label>-->
        <!--Baterie usuń:-->
        <!--<select name="baterie_del">-->
            <!--{%for x in pojazd.baterie.all %}-->
            <!--<option value="{{x.id}}">{{ x.batID }}</option>-->
            <!--{%endfor %}-->
        <!--</select>-->
    <!--</label>-->
   <!--<br>-->
    <br>
    <input type="submit" value="Zapisz"/>

    <p>
        <a href="/pojazdy">BACK <<<</a>
    </p>
</form>
</body>
</html>