<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Nowy pojazd</title>


	</head>
	<body>

    <p>
        <form action="" method="POST">{% csrf_token %}
            <label>ID<br>
                <input name="userID" value="{{p.id}}">
            </label><br>
            <label>Nazwa<br>
                <input name="nazwa" value="{{p.nazwa}}">
            </label><br>
            <label>Ilość baterii<br>
                <input name="baterie" value="{{il_bat}}">
            </label><br>

            <input type="submit" value="Zapisz"/>
        </form>
    </p>
    <p>
        <a href="pojazdy"> LISTA POJAZDÓW >>></a>
    </p>


	</body>
</html>