<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Jakaś stronka</title>


	</head>
	<body>

{% for p in pojazdy %}
	Auto :	{{ p.nazwa}}<br>
		<!--{{ p.baterie.all}}<br>-->
	{% if p.baterie.all %}
		Baterie :	{% for i in p.baterie.all %}
						{{ i.numer}}|{{ i.batID}}|
									{% if i.on %}
										Włączona |
									{% else %}
										Wyłączona |
									{% endif %}
					{% endfor %}<br>
	{% else %}
	Brak baterii <br>
	{% endif %}
{% endfor %}


<a href="nowy_pojazd"> DODAJ NOWY POJAZD >>></a>



	</body>
</html>