<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Jakaś stronka</title>
        <link rel="stylesheet" href="/static/style.css">

	</head>
	<body>
	AUTO<br>
	iserID: {{ pojazd.userID }}<br>
	Nazwa: {{ pojazd.nazwa }}<br>

	BATERIE W AUTO <br>
 	{% for x in baterie %}
	{{ x.id }} {{ x.nazwa }} {{ x.on }} {{ x.numer }} {{ x.batID }}<br>
	{% endfor %}
<br>
    COUNTER<br>
    {{ counter }}




<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="/static/app.js"></script>

	</body>
</html>