<!DOCTYPE html>

<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
		<title>Jakaś stronka</title>


	</head>
	<a>

{% for p in pojazdy %}
<p>	Auto :	{{ p.nazwa}}
<a href={% url 'nowy-pojazd' %}>EDYTUJ</a>

		<br>
		<!--{{ p.baterie.all}}<br>-->
	{% if p.baterie.all %}
		Baterie :	{% for i in p.baterie.all %}
						{{ i.numer}}|{{ i.batID}}|
									{% if i.on %}
										Włączona |
									{% else %}
										Wyłączona |
									{% endif %}
					{% endfor %}<br>
	{% else %}
	Brak baterii <br>
	{% endif %}
</p>
{% endfor %}

<p>
<a href="nowy_pojazd"> DODAJ NOWY POJAZD >>></a>
</p>


	</body>
</html>