html, #page { padding:0; margin:0;}
body { margin:0; padding:0; width:100%; color:#959595; font:normal 10px/2.0em Sans-Serif;}
h1, h2, h3, h4, h5, h6 {color:darkblue;}
#page { background:#eee;}
#header, #footer, #top-nav, #content, #content #contentbar, #content #sidebar { margin:0; padding:0;}

/* Header */
#header { background:#eee; }
#header-inner { margin:0 auto; padding:10px; width:970px;background:#fff;}
